@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

:root {
  --primary: #fbc807;
  /* --primary: #daae11; */
}

.navbar-link {
  @apply font-bold tracking-wide text-black transition-colors duration-200 px-4 py-2 rounded-full  hover:text-secondary;
}

.navbar-active-link {
  @apply font-bold tracking-wide text-white transition-colors duration-200 px-4 py-2 rounded-full bg-secondary flex items-center justify-center;
}
.primary-button {
  @apply bg-primary px-8 py-2 rounded-full text-black font-[600] text-[18px] hover:bg-[#F6A704] transition-all duration-300;
}

.secondary-button {
  @apply bg-secondary px-8 py-2 rounded-full text-white font-[600] text-[18px] hover:bg-[#13702c] transition-all duration-300;
}

/* selected partner slider code */
.select-partner-swiper .swiper-pagination-bullet {
  background: white !important;
  width: 100px !important;
  display: inline-block;
  height: 6px !important;
  border-radius: 5px !important;
}
.select-partner-swiper .swiper-button-next,
.swiper-button-prev {
  background-color: rgba(8, 8, 8, 0.795) !important;
  z-index: 12 !important;
  color: var(--primary);
  border-radius: 50%;
  height: 55px;
  width: 55px;
  padding: 10px !important;
}

.select-partner-swiper .swiper-button-prev {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  padding: 10px !important;
  color: var(--primary);
}

.projects .swiper {
  width: 100% !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

/* projects slider start from here  */
.projects .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px !important;
  height: auto !important;
  border-radius: 16px;
}

.projects .swiper-slide img {
  display: block;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary);
  box-shadow: inset 0 0 5px var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #daae11;
}

/* react tabs stylized  */
.react-tabs {
  -webkit-tap-highlight-color: transparent;
  margin: 0 20px;
}

.react-tabs__tab-list {
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px; */
  border: none !important;
  gap: 15px !important;
  display: flex;
}

.react-tabs__tab:hover {
  background: #f0ebeb !important;
  border:  1px solid transparent !important;
}

.react-tabs__tab {
  /* width: 50%; */
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  /* transition: all 0.3s; */
}
.react-tabs__tab {
  border: 1px solid rgb(192, 188, 188) !important;
  padding: 7px 25px !important;
  border-radius: 999px;
  font-weight: 700;
  color: var(--secondary);
}
.react-tabs__tab--selected {
  font-weight: bold;
  color: var(--primary) !important;
  border-radius: 9999px !important;
  background-color: var(--secondary) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent !important;
}

.react-tabs__tab--selected:hover {
  background: var(--secondary) !important;
}


@media screen and (max-width: 768px) {
  .react-tabs__tab {
    font-size: 12px !important;
  }

  .react-tabs__tab--selected {
    /* padding: 5px 10px !important; */
    font-size: 12px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
