@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
:root {
  --primary: #fbc807;
}

.primary-button {
  @apply bg-primary px-5 py-2 rounded-lg text-black font-[600] text-[18px];
}

.secondary-button {
  @apply bg-secondary px-5 py-2 rounded-lg text-white font-[600] text-[18px];
}

/* selected partner slider code */
.select-partner-swiper .swiper-pagination-bullet {
  background: white !important;
  width: 100px !important;
  display: inline-block;
  height: 6px !important;
  border-radius: 5px !important;
}
.select-partner-swiper .swiper-button-next,
.swiper-button-prev {
  background-color: rgba(8, 8, 8, 0.795) !important;
  z-index: 12 !important;
  color: var(--primary);
  border-radius: 50%;
  height: 55px;
  width: 55px;
  padding: 10px !important;
}

.select-partner-swiper .swiper-button-prev {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  padding: 10px !important;
  color: var(--primary);
}

/* .projects .swiper {
  width: 100% !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  border: 3px solid red !important;
} */

/* projects slider start from here  */
.projects .swiper-slide {
  background-position: center !important;
  background-size: cover !important;
  width: 400px !important;
  height: auto !important;
  border-radius: 16px !important;
}

.projects .swiper-slide img {
  display: block !important;
  width: 100% !important;
}
